@import './index.scss';

.App-wrapper {
  padding: 60px 30px;
  background-color: $dark-bcg-1;
  min-height: 100vh;
  color: $light-txt-1;

  .App-header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .App-logo {
      margin: 12px;
      color: $light-txt-1;
      &:hover {
        color: $link-col;
      }

      @media (min-width: 768px) {
        margin: 0;
      }
    }
  }
}
