@import './index.scss';

.App-wrapper {
  padding: 60px 30px;
  background-color: $dark-bcg-1;
  min-height: 100vh;
  color: $light-txt-1;

  .App-header {
    display: flex;
    justify-content: space-between;

    .App-logo {
      margin: 0;
    }
  }
}
